section:not(:nth-last-of-type(1))
{
    border-bottom: 1px solid black;
}
section{
    padding-bottom: 50px;
}
.bg-color{
    height: 150px;
    width: 150px;
    background-color: lightblue;
}
.bg-color:hover{
    background-color: purple;
}
.height_and_width{
    background-color: lightblue;
    height: 150px;
    width: 150px;
}
.height_and_width:hover{
    height: 200px;
    width: 500px;
}
.border_color:focus{
    border: 20px solid blue;
    border-radius: 10px;
}
.transition_04{
    background-color: yellow;
    height: 150px;
    width: 150px;
    transition: 4s;
}
.transition_04:hover{
    background-color: red;
}
.transition_05{
    background-color: orange;
    height: 150px;
    width: 150px;
    transition: 2s;
}
.transition_05:hover{
    background-color: purple;
    border-radius: 50%;
}
.transition_06{
    background-color: grey;
    width: 50px;
    height: 150px;
    transition: 3s;
}
.transition_06:active{
    margin: 300px;
}
.transition_07{
    background-color: green;
    height: 150px;
    width: 50px;
    transition: 3s;
}
.transition_07:active{
    margin: 80%;
}
.transition_08{
    background-color: lightblue;
    width: 50px;
    height: 150px;
    transition: 3s;
}
.transition_08:active{
    border-radius: 50%;
    margin: 80%;
    background-color: purple;
}
.transition_09{
    background-color: blue;
    height: 150px;
    width: 150px;
}
.transition_09_enfant{
    background-color: lightblue;
    height: 20%;
    width: 20%;
    transition: 3s;
}
.transition_09:active .transition_09_enfant{
    background-color: red;
}
.transition_10{
    width: 50px;
    height: 50px;
    background-color: yellow;
    transition: 3s;
}
.transition_10_intrus{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-left: 0%;
    background-color:lightblue;
    transition: 3s;
}
.transition_10:active .transition_10_intrus{
    background-color: blue;
    border-radius: 0%;
    margin-left: 30px;
}
.transition_10:active{
    margin-left: 40%;
    border-radius: 50%;
    background-color:orange;
    transition: 3s;
}
